@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins' ,sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/

/* navbar css */
.navbar{
  font-family: 'Roboto Slab',serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 7px 7px -7px blue;
  -webkit-box-shadow: 0 7px 7px -7px blue;
  border-bottom: solid blue !important;
}

.nav-link{
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
}


/*===================*/
/*=======Footer======*/

.footer {
  color:white;
  padding: 25px;
  background: #000000;
  background: -webkit-linear-gradient(
    to right,#434343,#000000
  );
  background: linear-gradient(to right, #434343, #000000);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color:#ffefba;
  border-bottom: 1px solid #ffefba;
}

/*========End Footer========*/
/*==========================*/
/*=========Page not found===========*/

.pnf{
  display: flex;
  min-height: 65vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 30px;
  margin-top: 3 0px;
}
.pnf-btn:hover{
  background-color: red;
  color:white;
}


/*========End Page not found========*/
/*==========================*/
/*=========Contact===========*/

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}

